body{
    padding: 3%
}
/* intro */

.intro {
    padding-bottom: 100px;
}
.text-intro{
    width: 50%;
    padding: 7%;
}
.text-intro h1{
    font-family: 'Montserrat';
}

.img-intro {
    padding-right: 7%;
    width: 40%
}

.left {
    float: left;
}
.right {
    float: right;
}

/* processor */

.processor {
    margin-left: 7%;
}
table.files-table {
    margin-bottom: 3%;
}
.processor.header{
    display: inline-block;

}
.form-control-desc {
    margin: 5px;
    margin-left: 20px;
}
/* processor - cards */

.card{
    display: inline-block;
    width: 300px;
}
.input{
    margin-right: 30px;
}
.output{
    margin-left: 70px;
}
a:not([href]):not([tabindex]) {
    color: white;
}

#accordion {
    padding: 0 11% 0 7%
}

.accordion {
    display: contents;
}

a.download {
    margin-left: 10px;
}